.pell-content,.article-content{
  font-family: "LiSong Pro Light", georgia, times, serif;
  height: auto;
  min-height: 600px;
}
.pell-content:empty:before{
  content: "写点什么..";
}

.pell-actionbar{
  background-color: transparent;
}
.ant-modal-body{
  padding-top: 10px;
}
.pell-content code, .article-content code{
  position: relative;
  padding: 20px;
  user-modify: read-only;
}
.pell-content>pre, .article-content>pre{
  position: relative;
  margin-bottom: 24px;
  overflow: hidden;
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: 0px 12px 16px #aaa;
}
.code-editor{
  position: relative;
  margin-top: 40px;
  border-radius: 8px;
  overflow: hidden;
}
.code-editor-window{
  position: relative;
  height: 24px;
}
.mac-window{
  display: inline-block;
  width: 100%;
  height: 24px;
  background-color: #eee;
  background: linear-gradient(#eee, #dbdbdb); /* 标准的语法（必须放在最后） */
  z-index: 99;
  text-align: center;
  border-bottom: 1px solid #c1c1c1;
  box-sizing: border-box;
}
.mac-window i{
  position: absolute;
  top: 7px;
  left: 10px;
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 6px;
}

.mac-window>span{
  display: inline-block;
  height: 100%;
  line-height: 24px;
  font-family: 'PingFangSC-Regular', 'PingFang SC', 'Microsoft YaHei', Arial, Helvetica, 'WenQuanYi Micro Hei', 'tohoma,sans-serif';
  font-weight: 500;
}


.mac-window i:nth-child(1) {
  background-color: #ff7769;
}
.mac-window i:nth-child(2) {
  left: 30px;
  background-color: #ffc73b;
}
.mac-window i:nth-child(3) {
  left: 50px;
  background-color: #24cf52;
}
h1 {
  font-size: 56px;
  line-height: 96px;
  font-family: "STKaiti", cursive;
  margin: 4px 0 -4px;
  text-align: center;
  font-weight: normal;
  position: relative;
}
h2 {
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  font-variant: small-caps;
  word-spacing: .5em;
  letter-spacing: .2em;
  margin-top: -2px;
}


h3{
  text-align: center;
  font-size: 18px;
  line-height: 72px;
  padding-top: 4px;
  /* font-family: "STKaiti"; */
}

/* h2+p::first-letter {
  font-family: times, serif;
  font-size: 90px;
  float: left;
  line-height: .65;
  padding: .085em 3px 0 0;
} */
h2+p::first-line {
  font-variant: small-caps;
  letter-spacing: .15em;
}
p {
  font-size: 18px;
  line-height: 24px;
  box-sizing: border-box;
  text-indent: 2em;
  margin-bottom: 24px;
}
blockquote {
  margin: 0px 20%;
}
blockquote span {
  font-size: 18px;
  /* font-style: italic; */
  line-height: 24px;
}
blockquote span::before {
  content: "\201C"
}
blockquote span::after {
  content: "\201D"
}
blockquote{
  font-family: "STFangsong";
  font-weight: 600;
}

.hl-box pre, .hl-box code {
  height: 100%;
  padding: 0px!important;
}
.hl-box code{
  padding: 20px!important;
}
.hljs{
  font-size: 12px!important;
  line-height: 12px;
}