.app-article {
  min-width: 842px;
  max-width: 842px;
  margin: 0 auto; }
  .app-article .app-article-page-box {
    min-width: 842px;
    min-width: 842px;
    height: 595px;
    background-color: aquamarine; }
