@import "./color.scss";

#index {
  .logo {
    height: 40px;
    margin-top: 10px;
  }
  &>header {
    background-color: $blue_dark;
    height: 60px;
    line-height: 60px;
    font-size: 0.75rem;
    font-weight: bold;
    display: flex;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    &>ul {
      height: 60px;
      line-height: 60px;
      margin: 0 auto;
      li {
        display: inline-block;
        margin-right: 20px;
      }
    }
  }
  .logo_box {
    height: 60px;
    line-height: 60px;
  }
  .login {
    width: 60px;
    a {
      padding: 10px;
    }
  }
  a {
    color: #9C9C9C;
    &:hover {
      color: $white_sky;
    }
  }
}