#index .logo {
  height: 40px;
  margin-top: 10px; }

#index > header {
  background-color: rgba(0, 0, 0, 0.8);
  height: 60px;
  line-height: 60px;
  font-size: 14px;
  display: flex;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1); }
  #index > header > ul {
    height: 60px;
    line-height: 60px;
    margin: 0 auto; }
    #index > header > ul li {
      display: inline-block;
      margin-right: 20px; }

#index .logo_box {
  height: 60px;
  line-height: 60px; }

#index .login {
  width: 60px; }
  #index .login a {
    padding: 10px; }

#index a {
  color: #9C9C9C; }
  #index a:hover {
    color: #fff; }
