@import "./color.scss";
#index {
  .logo {
    height: 40px;
  }
  &>header {
    background-color: $blue_dark;
    height: 60px;
    line-height: 60px;
    font-weight: bold;
    display: flex;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    &>ul {
      height: 60px;
      line-height: 60px;
      margin: 0 auto;
      li {
        font-size: 0.75rem;
        display: inline-block;
        margin-right: 20px;
      }
    }
  }
  .logo_box {
    height: 60px;
    line-height: 60px;
    margin-left: 40px;
  }
  .login {
    font-size: 0.75rem;
    text-align: center;
  }
  a {
    color: #9C9C9C;
    &:hover {
      color: $white_sky;
    }
  }
  .user {
    position: relative;
    height: 60px;
    line-height: 60px;
    margin-right: 40px;
    width: 60px;
    text-align: center;
  }
}