.app-login {
  height: 100%;
  width: 100%;
  padding-top: 100px; }
  .app-login .app-login-box {
    position: relative;
    width: 500px;
    height: 400px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 2px 12px 0 #0000001a;
    background-color: #fff;
    border-radius: 5px; }
    .app-login .app-login-box .app-login-nav {
      font-size: 16px;
      margin-bottom: 30px; }
      .app-login .app-login-box .app-login-nav ul {
        display: flex; }
        .app-login .app-login-box .app-login-nav ul li {
          flex: 1;
          height: 45px;
          line-height: 45px;
          cursor: pointer;
          background-color: #022d5a;
          color: #fff;
          border-radius: 5px 0 0 0; }
        .app-login .app-login-box .app-login-nav ul li:last-child {
          border-radius: 0 5px 0 0;
          margin-left: 5px; }
        .app-login .app-login-box .app-login-nav ul .app-login-active {
          color: #333;
          background-color: #fff; }
    .app-login .app-login-box .app-login-form-item {
      width: 300px;
      margin: 0 auto;
      margin-bottom: 20px; }
    .app-login .app-login-box .app-login-confirm {
      position: absolute;
      bottom: 30px;
      left: 50%;
      margin-left: -150px; }
      .app-login .app-login-box .app-login-confirm button {
        width: 300px;
        background-color: #022d5a;
        color: #fff; }
